@model IEnumerable<ScheduleChange.Models.SITATEX>

@{
    ViewData["Title"] = "SC SITATEX";
}

<h1>Danh mục các file SITATEX của chương trình SC</h1>
<br />

<table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Header)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SMI)
            </th>
            <th>
                Time mode
            </th>
            <th>
                Sub messages
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Header)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Origin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MessageId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SMI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text.Split()[0])
                </td>
                <td>
                    <a asp-controller="SubMessages" asp-action="GetSubMessagesBySitatex" asp-route-id="@item.ID">Click here</a>
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> @*|*@
                    @*<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
