@model ScheduleChange.Data.Config

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Config</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TableNbr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TableNbr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carrier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carrier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DomeIntl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DomeIntl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfCompartments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfCompartments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EQPCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EQPCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfClasses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfClasses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cap1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cap1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cap2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cap2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cap3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cap3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Todate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Todate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
