@model ScheduleChange.Models.Config.MealsCode

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MealsCode</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Segment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Segment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MealCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MealCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
