@model IEnumerable<ScheduleChange.Models.Config.FlightConfigs>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TableNbr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DomeIntl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfCompartments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EQPCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfClasses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cap1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cap2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cap3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TableNbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DomeIntl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfCompartments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EQPCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfClasses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cap1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cap2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cap3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
