@model IEnumerable<ScheduleChange.Models.Config.SSCIStation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CityCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EffectiveDateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EffectiveDateTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CityCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addresses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveDateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveDateTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
